<section class="info">
    <div class="info__header">
        <div class="overlay"></div>
        <img src="https://editorial.uefa.com/resources/027d-17222b4b4dce-e8a7247e3b35-1000/format/wide1/manchester_city_v_wolverhampton_wanderers_-_premier_league.jpeg?imwidth=988"
            alt="">
        <span>Champions League form guide</span>
    </div>
    <div class="headlines">
        <p class="headlines__header">Headlines</p>
        <div class="headline">
            <div class="img"><img
                    src="https://editorial.uefa.com/resources/027d-171f1a70d546-32d81b110285-1000/format/wide1/fbl-eur-c1-liverpool-inter_milan.jpeg?imwidth=369"
                    alt=""></div>
            <p>Watch great round of 16 goals</p>
        </div>
        <div class="headline">
            <div class="img"><img
                    src="https://editorial.uefa.com/resources/027d-171f1bcc5671-7a63a99910dd-1000/format/wide1/rb_leipzig_v_fc_bayern_munchen_-_bundesliga.jpeg?imwidth=276"
                    alt=""></div>
            <p>Champions League Transfers</p>
        </div>
        <div class="headline">
            <div class="img"><img
                    src="https://editorial.uefa.com/resources/027d-171d3723a866-e23b8ac85b77-1000/format/wide1/manchester_city_v_borussia_dortmund_group_g_-_uefa_champions_league.jpeg?imwidth=276"
                    alt=""></div>
            <p>Bellingham's Champions League stats</p>
        </div>
        <div class="headline">
            <div class="img"><img
                    src="https://editorial.uefa.com/resources/027d-1719351d3cdf-84063905d0f1-1000/format/wide1/paris_saint-germain_v_rb_leipzig_group_a_-_uefa_champions_league.jpeg?imwidth=276"
                    alt=""></div>
            <p>Round of 16</p>
        </div>
        <div class="headline">
            <div class="img"><img
                    src="https://editorial.uefa.com/resources/027c-16b8b467771c-4a03ddd819ea-1000/format/wide1/16x9_r16classic_2.jpeg?imwidth=276"
                    alt=""></div>
            <p>Classic round of 16 ties</p>
        </div>
    </div>
</section>
<section class="lates-news">
    <img class="lates-news-background" src="https://img.uefa.com/imgml/uefacom/ucl/2020/news_m.jpg" alt="">
    <p class="lates-news__header">Latest news</p>
    <article>
        <div id="new1" class="info__header">
            <div class="overlay"></div>
            <div class="img">
                <img src="https://editorial.uefa.com//resources/027b-1688c39e18a6-153c32d94ee0-1000/format/wide1/ucl_-_last_16_-_all_ties_02_-_twitter_20221107164846.jpeg?imwidth=988"
                    alt="">
            </div>
            <span>Meet your last-16 opponents</span>
        </div>
        <div id="new2" class="info__header">
            <div class="overlay"></div>
            <img src="https://editorial.uefa.com//resources/027a-1642ca61fbd2-7d9c5e9452bf-1000/format/wide1/manchester_city_v_borussia_dortmund_group_g_-_uefa_champions_league.jpeg?imwidth=490"
                alt="">
            <span>Haaland's Champions League stats</span>
        </div>
        <div id="new3" class="info__header">
            <div class="overlay"></div>
            <img src="https://editorial.uefa.com//resources/027d-170b3182d9eb-8f70a51c7175-1000/format/wide1/borussia_dortmund_v_paris_saint-germain_-_uefa_champions_league_round_of_16_first_leg.jpeg?imwidth=490"
                alt="">
            <span>Landmark goal tallies: Fastest? Youngest?</span>
        </div>
        <div id="new4" class="info__header">
            <div class="overlay"></div>
            <img src="https://editorial.uefa.com//resources/027d-171704876dba-01a749e29510-1000/format/wide1/uefa_club_competitions_202223_match_balls_shoot.jpeg?imwidth=490"
                alt="">
            <span>Does the away goals rule still apply?</span>
        </div>
        <div id="new5" class="info__header">
            <div class="overlay"></div>
            <img src="https://editorial.uefa.com//resources/027d-170f8d1dc1c7-6baea2d61e33-1000/format/wide1/liverpool_fc_vs_real_madrid_-_uefa_champions_league_final.jpeg?imwidth=490"
                alt="">
            <span>Real Madrid Club World Cup schedule</span>
        </div>
        <div id="new6" class="info__header">
            <div class="overlay"></div>
            <img src="https://editorial.uefa.com//resources/027d-17230698731f-ecf64da48894-1000/format/wide1/fc_bayern_munchen_v_fc_barcelona_group_c_-_uefa_champions_league.jpeg?imwidth=988"
                alt="">
            <span>Recap: Bayern breeze through again</span>
        </div>
    </article>
</section>