@import url('./main.css');
@import url('./home.css');

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0;
    padding: 0;
}

img{
    width: 100%;
    height: 100%;
    background-color: transparent;
}
